html {
  background: hsl(210deg 15% 6%);
  color-scheme: dark;
}
html, body {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100vh;
  padding: 16px;
}