button {
  position: relative;
  z-index: 2;
  background: transparent;
  border-radius: 1px;
  padding: 8px 32px;
  border: none;
  outline: 2px solid hsl(50deg 0% 50% / 1);
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(10px);
}
button:hover {
  background: hsl(0deg 0% 100% / 0.1);
}
button:active {
  outline: 1px solid hsl(50deg 0% 50% / 1);
}
.yellow.ball {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: hsl(50deg 100% 50%);
  background: oklch(0.9 0.25 100 / 1);
}
